<div class="module" id="aboutView">
   <div class="row title">
       <div class="col">
           {{vm.title}}
       </div>
   </div>
    <div class="row">
        <div class="col-12">
            <h3>How to use this webApp ?</h3>
            <ol>
                <li>Select a game in the list. You can randomize the list by clicking the <i>Randomize</i> button</li>
                <li>When a game is selected, its info are displayed</li>
                <li>The most popular (=most view count) 3 youtube videos for this game are retrieved</li>
                <li>The most popular live twitch stream is retrieved</li>
                <li>4 screenshots from the game are shown</li>
            </ol>
            <h3>How does this work?</h3>
            <ol>
                <li>The best 100 games from steam (last 2 weeks) are retrieved from steamspy</li>
                <li>10 games are randomly selected</li>
                <li>When you click randomize, the list is filled with 10 new random games</li>
            </ol>
            <h3>What components are used for this WebApp?</h3>
            <ul>
                <li>AngularJS</li>
                <li>Webpack</li>
                <li>Bootstrap</li>
                <li>Python with flask for the backend</li>
                <li>Youtube API</li>
            </ul>
        </div>
    </div>
    
</div>